# OSX
#
.DS_Store

# vscode
.vscode

# node.js
node_modules/
npm-debug.log
yarn-error.log

# babeled stuff
lib/**


# jest 
coverage/*

latest/
baseline/
generatedDiffs
reports/

# e2eTest folders 
e2eTests/updateBaseline/baseline/*
e2eTests/snap/latest/*

e2eTests/compare/generatedDiffs/*

