# OSX
#
.DS_Store

# vscode
.vscode

# node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# babeled stuff
lib/**


# jest 
coverage/*

# e2eTest folders 
e2eTests/generic/updateBaseline/baseline/*
e2eTests/generic/gridError/baseline/*
e2eTests/generic/nonExistScript/baseline/*
e2eTests/chrome/snap/latest/*
e2eTests/firefox/snap/latest/*

e2eTests/generic/compare/generatedDiffs/*
e2eTests/generic/compare/reports/*
e2eTests/generic/onBeforeSuiteScript/latest/*
e2eTests/generic/gridError/latest/*
e2eTests/generic/nonExistScript/latest/*

e2eTests/chrome/removeElements/latest/*
e2eTests/firefox/removeElements/latest/*
e2eTests/chrome/removeElements/generatedDiffs/*
e2eTests/firefox/removeElements/generatedDiffs/*
e2eTests/chrome/removeElements/reports/*
e2eTests/firefox/removeElements/reports/*

e2eTests/chrome/hideElements/latest/*
e2eTests/firefox/hideElements/latest/*
e2eTests/chrome/hideElements/generatedDiffs/*
e2eTests/firefox/hideElements/generatedDiffs/*
e2eTests/chrome/hideElements/reports/*
e2eTests/firefox/hideElements/reports/*
