# OSX
#
.DS_Store

# vscode
.vscode

# node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# babeled stuff
lib/**


# jest 
coverage/*

# e2eTest folders 
e2eTests/generic/updateBaseline/baseline/*
e2eTests/chrome/snap/latest/*
e2eTests/firefox/snap/latest/*

e2eTests/generic/compare/generatedDiffs/*
e2eTests/generic/compare/reports/*


e2eTests/chrome/removeElements/latest/*
e2eTests/firefox/removeElements/latest/*
