body {
    background-color: #302d52;
  }

  .title {
    font-family: Courier New, Courier, monospace;
    text-align: center;
    color: white;
  }
  
  .wrapper {
    text-align: center;
  }
  
  .screenshot {
    width: 400px;
  }

  .scenario {
    font-family: Courier New, Courier, monospace;
    text-align: center;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .box-light {
    background-color: #bbc7c5;
    font-family: Courier New, Courier, monospace;
    size: 14px;
    padding-bottom: 30;
    padding-top: 10;
  }
  
  .box-dark {
    padding-bottom: 30;
    padding-top: 10;
    background-color: #9fb5b1;
    font-family: Courier New, Courier, monospace;
    size: 14px;
  }
