body {
    background-color: #8ac7db;
  }
  
  .thumbnail {
    width: 18%;
    margin: 10px;
  }
  
  .shot {
    position: relative;
    text-align: center;
    display: inline;
  }
  
  .shot span {
    position: absolute;
    bottom: -10px;
    left: 50%;
  }
  
  span {
    font-family: Courier New, Courier, monospace;
  }
  .title {
    font-family: Courier New, Courier, monospace;
    text-align: center;
  }
  
  .wrapper {
    text-align: center;
  }
  
  .story {
    margin-top: 0;
  }
  
  .box-blue {
    background-color: #add8e6;
    font-family: Courier New, Courier, monospace;
    size: 14px;
    padding-bottom: 30;
    padding-top: 10;
  }
  
  .box-pink {
    padding-bottom: 30;
    padding-top: 10;
    background-color: #ffb6c1;
    font-family: Courier New, Courier, monospace;
    size: 14px;
  }

  .screenshot {
      width: 400px;
      padding-right: 50px;
  }

  .header {
    padding-bottom: 40px;
    font-family: Courier New, Courier, monospace;
    text-align: center;
  }